<div>
  <p>&lt;tag&gt; &amp; special chars</p>
  <p>Umlauts: &auml; &ouml; &uuml; &Auml; &Ouml; &Uuml;</p>
  <p>Quotes: &quot;Hello&quot; &apos;World&apos;</p>
  <p>Symbols: &copy; &reg; &trade; &euro; &deg;</p>
  <p>Punctuation: &ndash; &mdash; &hellip; &bull;</p>
  <p>Numeric decimal: &#60; &#62; &#38;</p>
  <p>Numeric hex: &#x3C; &#x3E; &#x26;</p>
  <p>Accents: &eacute; &ntilde; &ccedil; &agrave;</p>
  <p>Fractions: &frac14; &frac12; &frac34;</p>
  <p>Math: &times; &divide; &plusmn; &minus;</p>
</div>
